Flask
firebase-admin
requests
gunicorn # For deployment in production
python-dotenv  # For loading environment variables
PyJWT  # For JWT token management
pydantic  # Optional, for data validation and modeling
pytest  # For running tests
flask_limiter